.navbar-brand{
  color: var(--bs-navbar-brand-color);
}
/* .navbar{
  background-image: linear-gradient(to top, #b8b8b8, #c5c5c5, #d2d2d2, #dfdfdf, #ececec);;
} */
.footer { 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  z-index: 10;
}

