{% extends "model-page.html" %}

{% block content %}
    <h2 class="pt-2 pb-2">Evento</h2>
    <form action="submit" method="post">{% csrf_token %}
         <input  type="number" name="id_evento" value="{{evento.id}}" hidden>
        <label class="form-label">Título:</label>
        <br>
       
        <input class="form-control" name="titulo" size="23" value="{{ evento.titulo }}" placeholder="Título...">
        <br>
        <label class="form-label">Data do Evento:</label>
        <br>
        <input type="datetime-local"class="form-control" name="data_evento" value="{{ evento.get_datahora_evento }}">
        <br>
        <label class="form-label">Descrição:</label>
        <br>
        <textarea name="descricao" rows="5" cols="24" class="form-control"  placeholder="Descrição...">{{ evento.descricao }}</textarea>
        <br>
        <div class="d-inline-flex gap-2">
        <button type="submit" class="btn btn-primary btn-grad">Salvar</button>
        <a href="/">
        <button type="button"class="btn btn-secondary">Cancelar</button>
        </div>
    </a>
    </form>
{% endblock %}